.Items{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
    margin-top: 20px;
    cursor: pointer;
    color: #B1B1B1;
    border: none;
    text-decoration: none;
}

a.active{
    color: black;
    border-left: 5px solid black;
}